<!-- Cover part -->
<div class="cover">
    <section class="hero is-fullheight">
        <div class="container">
            <div class="columns mtop">
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <app-description></app-description>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <app-contact></app-contact>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <app-skills></app-skills>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <app-experience></app-experience>
                </div>
            </div>
        </div>
    </section>
</div>